
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KitapLayout.cshtml";
}
@*Popup Modal Kullanımı*@
<h1>Yabancı Yazarlar</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Jules Verne
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Jules Verne Kimdir?</h1>
                <h3 class=" modal-title">
                    Jules Gabriel Verne (Fransızca telaffuz: [ʒyl vɛʁn]; 8 Şubat 1828 - 24 Mart 1905), Fransız yazar ve gezgin.
                    Verne, Hugo Gernsback ve H. G. Wells ile genellikle "Bilim Kurgunun Babası" olarak adlandırılır. Eserlerinde ayrıntılarıyla tarif ettiği buluşlar ve makinelerin o sıralarda gelişmekte olan Avrupa sanayisi ve teknolojisine ilham kaynağı olduğu düşünülür. Özellikle uzay, hava taşıtları, denizaltılar hakkında yazmıştır.
                    Daha çok Denizler Altında Yirmi Bin Fersah (1870), Dünyanın Merkezine Yolculuk (1864) ve Seksen Günde Devr-i Âlem (1873) romanlarıyla tanınır. UNESCO’nun çeviri kitap veritabanına (Index Translationum) göre eserleri en çok çevrilen ikinci yazardır.
                    Eserleri 148 farklı dile çevrildi. Birçok icadı önceden tahmin ettiği için ''Bilim falcısı'' olarak anıldı.
                </h3>
            </div>
        </div>
    </div>

</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">
    Stefan Zweig
</button>
<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Stefan Zweig Kimdir?</h1>
                <h3 class=" modal-title">
                    Stefan Zweig (28 Kasım 1881 - 22 Şubat 1942), Avusturyalı roman, oyun, biyografi yazarı ve gazetecidir. 1920'ler ile 1930'lar arasında edebiyat kariyerinin zirvesinde olmuş Zweig, dönemin dünyasının en çok tercüme edilen ve en popüler yazarlarından biriydi.
                    1920'li ve 1930'lu yıllarda Alman dilinin en çok okunan yazarları arasında sayılan Zweig'in eserleri, dünya çapında dönemin en çok okunan kitapları arasına girdi, elliyi aşkın dile tercüme edildi. 1933'te diğer Yahudi yazarlara da yapıldığı gibi eserleri, Naziler tarafından yakıldı. Bu olaydan sonra ülkesini terk eden Zweig, 1941'de Brezilya'ya yerleştikten sonra 22 Şubat 1942'de karısı Lotte Altmann ile birlikte intihar etti.
                </h3>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal3">
    Grigori Petrov
</button>
<div class="modal" id="Modal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Grigori Petrov Kimdir?</h1>
                <h3 class=" modal-title">
                    Grigori Spiridonoviç Petrov (1866, Sankt-Peterburg – 1925, Paris), Rus hatip, gazeteci, yazar.
                    20.yüzyıl başında Rusya’nın en tanınmış papazlarından, en çok okunan halk yazarlarından birisi idi.[kaynak belirtilmeli] Görüşleri nedeniyle kiliseden kovulduktan sonra kendisini tamamen yazarlığa verdi; gazeteci ve hatip olarak kitleleri etkilemeyi sürdürdü. Ekim Devrimi gerçekleştiğinde ülkeden kaçmak zorunda kaldı, Yugoslavya Krallığı’nda geçirdiği son yıllarında pek çok eser kaleme aldı, konferanslar verdi. Eserleri, Sovyet döneminde ülkesi Rusya’da yasaklanmıştır ancak Bulgaristan’da ve o yıllarda yeni kurulan Türkiye’de etkili olmuş, devrin aydınlarını etkilemiştir. Beyaz Zambaklar Ülkesinde adlı kitabı, Türkçede en çok okunan yabancı eserler arasına girmiştir.
                </h3>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal4">
    John Steinbeck
</button>
<div class="modal" id="Modal4">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>John Steinbeck Kimdir?</h1>
                <h3 class=" modal-title">
                    John Steinbeck (27 Şubat 1902 - 20 Aralık 1968), Amerikalı gerçekçi yazardır. İrlanda asıllıdır. Eserlerinde genellikle İşçi yaşamını ve toplumsal sorunları dile getirdi. Gençliğinde bir zamanlar çalıştığı Salinas Vadisi onun eserleri için vazgeçilmez bir mekandır. Yazdığı eserlerin her biri kült olmuş, çoğu sinemaya aktarılmıştır. Bir ailenin Oklahoma'dan, Kaliforniya'ya göçünü anlattığı Gazap Üzümleri eseri ile Pulitzer ve Ulusal Kitap Ödülünü kazandı. Ayrıca edebiyat alanında verdiği katkılardan dolayı 1962’de Nobel Edebiyat Ödülü’ne layık görüldü.
                </h3>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal5">
    Jack London
</button>
<div class="modal" id="Modal5">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Jack London Kimdir?</h1>
                <h3 class=" modal-title">
                    John Griffith London (John Griffith Chaney;12 Ocak 1876, San Francisco - 22 Kasım 1916, Kaliforniya), Amerikalı gazeteci ve roman yazarı. Vahşetin Çağrısı, Martin Eden, Demir Ökçe, Beyaz Diş ve Deniz Kurdu başta olmak üzere elliden fazla kitabın yazarı olan Jack London, Dünya ticari dergi romanının öncüsü ve yazarlıktan yüksek gelir elde edebilen Amerikalıların ilklerindendir.Londra, San Francisco'daki radikal edebiyat grubu "Kalabalık" ın bir parçasıydı ve sendikalaşma, işçi hakları, sosyalizm ve öjeniğin tutkulu bir savunucusuydu.
                </h3>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal6">
    Tolstoy
</button>
<div class="modal" id="Modal6">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Tolstoy Kimdir?</h1>
                <h3 class=" modal-title">
                    Lev Nikolayeviç Tolstoy (Rusça: Лев Никола́евич Толсто́й ; d. 9 Eylül 1828 - ö. 20 Kasım 1910), Rus yazardır.Eserlerinde insanlığın çeşitli meselelerine değinen Tolstoy'un dünya ölçüsünde bir sanat ve fikir değeri vardır.[1] Kendi ülkesinin toplumsal siyasal çalkantılarını, halkının yaratılışını, yaşayışını büyük bir ustalıkla yansıtmıştır. Gerçekçi edebiyatın en büyük temsilcilerinden olduğu kadar, bir filozof ve bir eğitimci olarak da ün kazanmıştır. Yukarıda sayılanların dışında "Diriliş", "Gençliğim", "Çocukluk", "Hacı Murat", "Ayaklanış", "Sergi Baba", "Tanrı Bizim İçimizdedir", "Kazaklar", "Tesadüf", "İki Süvari" gibi eserleri de vardır.Tolstoy 82 yaşındayken, 1910 yılında öldü.Kış ortasında evini terk edip de hasta düştükten sonra, Astapovo'da bir tren istasyonunda zatürreden öldü. Polis, cenazesine katılmak isteyenlere ulaşımı sınırlandırmak için çalıştı, ama binlerce köylü cenazesinde sokakları doldurdular.
                </h3>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal7">
    Dostoyevski
</button>
<div class="modal" id="Modal7">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Dostoyevski Kimdir?</h1>
                <h3 class=" modal-title">
                    Fyodor Mihayloviç Dostoyevski (Rusça: Фёдор Миха́йлович Достое́вский,d. 11 Kasım 1821, Moskova – ö. 9 Şubat 1881, Sankt-Peterburg), Rus roman yazarıdır.
                    Çocukluğu sarhoş bir baba ve hasta bir anne arasında geçiren Dostoyevski, annesinin ölümünden sonra Petersburg'daki Mühendis Okulu'na girdi. Babasının ölüm haberini de burada aldı.
                    Dostoyevski, ilk kitabı İnsancıklar'ı 1846 yılında yayımladı. Bu eserinin ardından yazdığı kitaplarla beklediği başarıya ulaşamayan Dostoyevski'nin umudu kırıldı ve politikayla ilgilenmeye başladı.
                    Dostoyevski, bir ciğer kanamasıyla yatağa düştü ve 28 Ocak 1881 tarihinde öldü.
                </h3>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal8">
    Paula Coelho
</button>
<div class="modal" id="Modal8">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Paılo Coelho Kimdir?</h1>
                <h3 class=" modal-title">
                    Paulo Coelho (d. 24 Ağustos 1947, Rio de Janerio), Brezilyalı roman ve söz yazarı.

                    Paulo Coelho yazarlığa başlamadan önce ülkesinde tanınan bir şarkı sözü yazarıydı. Bir süre gazetecilik de yapan Paulo Coelho, 1986 yılında Hristiyanların Batı Avrupa'dan başlayıp İspanya'da Santiago de Compostela kentinde sona eren geleneksel hac yolculuğunu yaptı.
                    Bu deneyimini Hac (özgün adı: "The Pilgrimage") adlı kitabında anlattı. 1988 yılında yayınlanan romanı Simyacı, Coelho'yu en çok okunan çağdaş yazarlardan biri yaptı.42 ülkede yayınlanan, 26 dile çevrilen Simyacı, benzersiz bir başarıya ulaştı ve bu kitap sayesinde
                    Gabriel Garcia Marquez'den sonra en çok okunan Latin Amerikalı yazar oldu. Paulo Coelho'nun kurduğu Paulo Coelho Enstitüsü, ülkesindeki yoksul çocuk ve yaşlılara yardım etmektedir.
                </h3>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal9">
    George Orwell
</button>
<div class="modal" id="Modal9">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Paılo Coelho Kimdir?</h1>
                <h3 class=" modal-title">
                    Eric Arthur Blair veya daha bilinen takma adıyla George Orwell, (25 Haziran 1903; Bihar - 21 Ocak 1950; Londra), 20. yüzyıl İngiliz edebiyatının önde gelen kalemleri arasında yer alan İngiliz
                    romancı, gazeteci ve eleştirmen. En çok, dünyaca ünlü Bin Dokuz Yüz Seksen Dört adlı romanı ve bu romanda yarattığı Big Brother (Büyük Birader) kavramı ile tanınır. Eserlerinde yer alan netlik, zeka, toplumsal adaletsizliğe karşı farkındalık ve totalitarizme karşı duruşu onun imzası niteliğindedir.
                    Orwell'in yaşamı, yazılarını sonradan etkileyecek olan deneyimlerle doludur. Burslu okuduğu Eton Kolejinden mezun olduktan sonra, o sırada bir İngiliz sömürgesi olan Burma'da bulunmuş, kısa süreliğine buranın polis teşkilatında görev yapmıştır. Bu memuriyet döneminde şahit olduğu acımasız uygulamalar, emperyalizme karşı geliştirdiği derin öfkeye katkıda bulunmuştur.
                    Gençlik döneminde Fransa'da bulunmuş, türlü mesleklerde çalışmış, para problemi gerek yazarlığa başlamadan önce, gerekse ilk yapıtlarını kaleme aldığı yıllarda yakasını bırakmamıştır.
                </h3>
            </div>
        </div>
    </div>
</div>


<h1>Yerli Yazarlarımız</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal10">
    Sabahattin Ali
</button>
<div class="modal" id="Modal10">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Sabahattin Ali Kimdir?</h1>
                <h3 class=" modal-title">
                    Sabahattin Ali (25 Şubat 1907, Eğridere - 2 Nisan 1948, Kırklareli), Türk yazar ve şair. Edebî kişiliğini toplumcu gerçekçi bir düzleme oturtarak yaşamındaki deneyimlerini okuyucusuna yansıttı ve kendisinden sonraki Cumhuriyet dönemi Türk edebiyatını etkileyen bir figür hâline geldi. Daha çok öykü türünde eserler verse de romanlarıyla ön plana çıktı; romanlarında uzun tasvirlerle ele aldığı sevgi ve aşk temasını, zaman zaman siyasi tartışmalarına gönderme yapan anlatılarla zaman zaman da toplumsal aksaklıklara yönelttiği eleştirilerle destekledi. Kuyucaklı Yusuf (1937), İçimizdeki Şeytan (1940) ve Kürk Mantolu Madonna (1943) romanları Türkiye'deki edebiyat çevrelerinin takdirini toplayarak hem 20. yüzyılda hem 21. yüzyılda etkisini sürdürdü.
                </h3>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal11">
    Sait Faik Abasıyanık
</button>
<div class="modal" id="Modal11">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Sait Faik Abasıyanık Kimdir?</h1>
                <h3 class=" modal-title">
                    Sait Faik Abasıyanık (18 Kasım ya da 22 Kasım ya da 23 Kasım 1906– 11 Mayıs 1954), Türk hikâye ve roman yazarı, şair. Türk hikâyeciliğinin önde gelen yazarlarından birisi olan Sait Faik,[16] çağdaş hikâyeciliğe yaptığı katkılar nedeniyle Türk edebiyatının köşe taşlarından biri olarak kabul edilir.
                    Modern Türk hikâyeciliğinin öncülerinden olan Sait Faik, getirdiği yenilikler nedeniyle, "kökü kendisinde olan" bir yazar olarak kabul edilir. Klasik öykü tekniğini yıkarak doğayı ve insanları basit, samimi, iyi ve kötü taraflarıyla, olduğu gibi ama aynı zamanda şiirsel ve usta bir dille anlattı.
                    Döneminin pek çok sanatçısından farklı olarak, kendisini Batı'daki gelişmelerle sınırlamadı, hiçbir edebî anlayışın etkisinde hareket etmedi, belli bir tarzın takipçisi olmadı.
                </h3>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal12">
    Ahmet Hamdi Tanpınar
</button>
<div class="modal" id="Modal12">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Ahmet Hamdi Tanpınar Kimdir?</h1>
                <h3 class=" modal-title">
                    Ahmet Hamdi Tanpınar (23 Haziran 1901, İstanbul - 24 Ocak 1962, İstanbul), Türk şair, romancı, deneme yazarı, edebiyat tarihçisi, siyasetçi ve akademisyendir.
                    Cumhuriyet neslinin ilk öğretmenlerinden olan Ahmet Hamdi Tanpınar; "Bursa'da Zaman" şiiri ile geniş bir okuyucu kitlesi tarafından tanınmış bir şairdir. Şiir, hikâye, roman, deneme, makale, edebiyat tarihi gibi birçok türe yönelen Tanpınar, "Yirmi Beş Senenin Mısraları" adı altında beş yazılık bir deneme serisi de yayımlamıştır.
                    Sağlığı gittikçe bozulan Ahmet Hamdi Tanpınar, 23 Ocak 1962 tarihinde geçirdiği kalp krizi neticesinde İstanbul'da 60 yaşında vefât etti. Cenaze namazı Süleymaniye Camii'nde kılındı ve Rumelihisarı Âşiyân Mezarlığı'nda Yahya Kemal'in mezarının yanı başına defnedildi.
                </h3>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal13">
    Reşat Nuri Güntekin
</button>
<div class="modal" id="Modal13">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Reşat Nuri Güntekin Kimdir?</h1>
                <h3 class=" modal-title">
                    Reşat Nuri Güntekin (d. 25 Kasım 1889, İstanbul Vilayeti - ö. 7 Aralık 1956, Londra), Cumhuriyet dönemi edebiyatında önemli bir yeri olan Çalıkuşu, Yeşil Gece ve Anadolu Notları gibi eserlere imza atmış Türk roman, öykü ve oyun yazarıdır. Müfettişlik görevi ile Anadolu'da gezdiği için Anadolu insanını yakından tanımıştır. Eserlerinde Anadolu'daki yaşamı ve toplumsal sorunları ele almış; insanı insan-çevre ilişkisi içinde yansıtmıştır.
                    Millî Edebiyat akımıyla başlayan, halka ve halkın gerçeklerine edebi yönelişin Anadolu'ya erişen ilk başarılı temsilcisi sayılır.
                    Gözlemci, gerçekçi kalemi ve sevecen yaklaşımı, eğildiği sorunları yansıtmada etkilidir. Bireyselle toplumsalı aynı potada eritebildiği yapıtları ile bu özellikleri öne çıkar. Ayrıca (“Sönmüş Yıldızlar” ve “Bir Yudum Su” adlı hikâyeleri ile Gökyüzü adlı romanında kendi muhitinin ve düşünce dünyasının aksine hüküm vermekten çekinmişse de) kendisinden sonra gelen post modern dönem sonrası yazarlara insan – din ilişkisini irdelemede rahat yazabilmelerinin kapısını açmasıyla öncü olmuştur.
                </h3>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal14">
    Halide Edip Adıvar
</button>
<div class="modal" id="Modal14">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Halide Edip Adıvar Kimdir?</h1>
                <h3 class=" modal-title">
                    Halide Edib Adıvar (Osmanlıca: خالده اديب اديوار; d. 1882 veya 1884 - 9 Ocak 1964), Türk yazar, siyasetçi, akademisyen, öğretmen. Halide Onbaşı olarak da bilinir.

                    Halide Edib, 1919 yılında İstanbul halkını ülkenin işgaline karşı harekete geçirmek için yaptığı konuşmaları ile zihinlerde yer etmiş usta bir hatiptir. Kurtuluş Savaşı’nda cephede Mustafa Kemal’in yanında görev yapmış bir sivil olmasına rağmen rütbe alarak savaş kahramanı sayılmıştır. Savaş yıllarında Anadolu Ajansı’nın kurulmasında rol alarak gazetecilik de yapmıştır.
                    II. Meşrutiyet’in ilanı ile birlikte yazarlığa başlayan Halide Edib; yazdığı yirmi bir roman, dört hikâye kitabı, iki tiyatro eseri ve çeşitli incelemeleriyle Meşrutiyet ve Cumhuriyet dönemleri Türk edebiyatının en çok eser veren yazarlarındandır.
                    Eserlerinde kadının eğitilmesine ve toplum içindeki konumuna özellikle yer vermiş, yazıları ile kadın hakları savunuculuğu yapmıştır. Birçok kitabı sinemaya ve televizyon dizilerine uyarlanmıştır.
                </h3>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal15">
    Nazım Hikmet
</button>
<div class="modal" id="Modal15">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Nazım Hikmet Kimdir?</h1>
                <h3 class=" modal-title">
                    Nâzım Hikmet Ran ya da Türkiye'den ayrıldıktan sonraki soyadı ile Nâzım Hikmet Borzecki (14 Ocak 1902; Selanik, Osmanlı İmparatorluğu - 3 Haziran 1963; Moskova, SSCB), Türk şair ve yazardır. Şiirleri elliden fazla dile çevrilmiş ve eserleri birçok ödül almıştır. Türkiye'de serbest nazımın ilk uygulayıcısı ve çağdaş Türk şiirinin en önemli isimlerindendir. Uluslararası bir üne ulaşmıştır ve dünyada 20. yüzyılın en gözde şairleri arasında gösterilmektedir.
                    Komünist siyasi düşünceleri yüzünden defalarca tutuklanmış ve yaşamının büyük bölümünü hapiste ya da sürgünde geçirmiş; Türkiye'de 11 ayrı davadan yargılanarak İstanbul, Ankara, Çankırı ve Bursa cezaevlerinde 12 yılı aşkın süre hapis yatmıştır.
                    1963 yılında Moskova'da kalp krizi sonucu öldü. Mezarı hâlen Moskova'dadır.
                </h3>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal16">
    Yaşar Kemal
</button>
<div class="modal" id="Modal16">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Yaşar Kemal Kimdir?</h1>
                <h3 class=" modal-title">
                    Kemal Sadık Gökçeli veya bilinen adıyla Yaşar Kemal (d. 6 Ekim 1923, Hemite, Osmaniye- ö. 28 Şubat 2015, İstanbul), Kürt asıllıTürk romancı, senarist, öykücü ve aktivisttir. En ünlü eseri, yaklaşık 32 senede yazıp tamamladığı ''İnce Memed'' serisidir.
                    1939'da, 16 yaşındayken, ilk şiiri "Seyhan"ı Görüşler adlı Adana halkevleri dergisinde yayımladı.
                    İnce Memed I, Ağrıdağı Efsanesi, İnce Memed II, Kuşlar da Gitti, İnce Memed III eserleri yazarın en çok satan ilk beş kitabıdır. D&R'ın yüz kırk altı mağazası ve internet satışları baz alınarak belirlenen verilere göre yazarın ölümünden sonraki hafta kitap satışları %417 arttı. İnce Memed, Hürriyet Pazar tarafından oluşturulan yüz kişilik jüri tarafından belirlenen "Türk Edebiyatının Gelmiş Geçmiş En İyi 100 Romanı" listesinde 1 numara seçildi.
                </h3>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal17">
    Halid Ziya Uşaklıgil
</button>
<div class="modal" id="Modal17">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Halid Ziya Uşaklıgil Kimdir?</h1>
                <h3 class=" modal-title">
                    Halid Ziya Uşaklıgil (1866, İstanbul - 27 Mart 1945, İstanbul), Servet-i Fünûn ve cumhuriyet dönemi Türk romancı ve yazar. Bâzı edebî yazılarını Hazine-i Evrak dergisinde Mehmet Halid Ziyaeddin adıyla yayımlamıştır.
                    Servet-i Fünûn edebiyatının en büyük nesir ustası kabul edilir. İlk büyük Türk romanı olarak kabul görmüş Aşk-ı Memnû’nun yazarıdır. Türk romanının gerçek anlamda batılı bir kimlik kazanmasında önemli katkısı olmuş bir yazardır.
                    Osmanlı İmparatorluğu’nda Sultan Mehmed Reşad döneminde baş mâbeyinci (1909-1912) ve Meclis-î Âyan üyesi olarak görev yaptı.
                    Altmış yıllık yazı hayatında şiir dışında pek çok eser kaleme alan Halid Ziya modern Türk edebiyatına romanları ve hikâyeleriyle damgasını vurmuş bir yazardır. Türk romanının büyük ustası olarak kabul edilir.
                </h3>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal18">
    Tomris Uyar
</button>
<div class="modal" id="Modal18">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Tomris Uyar Kimdir?</h1>
                <h3 class=" modal-title">
                    Tomris Uyar (15 Mart 1941 - 4 Temmuz 2003), Türk öykü yazarı ve çevirmen. İngiliz Kız Ortaokulu'nda, şimdiki adı Robert Kolej olan Arnavutköy Amerikan Kız Koleji'nde eğitim gördü (1961). İstanbul Üniversitesi İktisat Fakültesi'ne bağlı Gazetecilik Enstitüsü'nü bitirdi (1963).
                    Cemal Süreya ve Ülkü Tamer ile beraber Papirüs dergisi kurucularından olan Uyar’ın deneme, eleştiri ve kitap tanıtma yazıları Yeni Dergi, Soyut, Varlık gibi dergilerde yayımlandı.
                    On öykü derlemesinden Yürekte Bukağı ile 1979, Yaza Yolculuk ile 1986 Sait Faik Hikâye Armağanı’nı kazandı. 60’ı aşkın çevirisi kitaplaşan Uyar’ın günlükleri, “Gündökümü” genel başlığı altında, yayımlandı.

                    İlk evliliğini şair Ülkü Tamer ile 1963'te yapan Tomris Uyar'ın evliliği Ekin isimli kızlarının sütten boğulmasından sonra 1964'te son bulur.

                    Tomris Uyar, şair Turgut Uyar ile 1969'da evlendi ve Hayri Turgut Uyar isimli bir oğlu oldu. Hayri Turgut Uyar şimdi İTÜ'de öğretim görevlisidir. 2003 yılında yemek borusu kanseri nedeniyle vefat eden yazarın kabri Zincirlikuyu Mezarlığı'ndadır.
                </h3>
            </div>
        </div>
    </div>
</div>