@{
    ViewBag.Title = "About";
}
//dropdown listin manuel kulllanımı
<br />
<form method="get">

    <fieldset>
        Kitap Türü Seçin: <select id="MovieType" name="MovieType" class="form-control">

    <option value=""></option>
    <option value="1">Roman</option>
    <option selected="selected" value="2">Hikaye</option>
    <option value="3">Tiyatro</option>
    <option value="4">Şiir</option>
    <option value="5">Bilim Kurgu</option>

</select>
    </fieldset>

</form>
