
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KitapLayout.cshtml";
}

<h1 style="color:deeppink">İletişim Bilgileri</h1>
<h2 style="color:darkviolet">Telefon No:   +905349030222</h2>
<h2 style="color:darkviolet">E-posta:   Eslemmegreli@gmail.com</h2>
<h2 style="color:darkviolet">Adre:   Adapazarı/Sakarya </h2>


